net.bpelunit.framework.control.soap.genericsoapheaderprocessor/src/test/resources/suite-genericspoapheaderprocessor.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test.bpelunit.net/suite-genericspoapheaderprocessor/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="suite-genericspoapheaderprocessor" targetNamespace="http://test.bpelunit.net/suite-genericspoapheaderprocessor/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://test.bpelunit.net/suite-genericspoapheaderprocessor/">
      <xsd:element name="TwoWayOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TwoWayOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OneWayOperation">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TwoWayOperationRequest">
    <wsdl:part element="tns:TwoWayOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TwoWayOperationResponse">
    <wsdl:part element="tns:TwoWayOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OneWayOperationRequest">
  	<wsdl:part name="parameters" element="tns:OneWayOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="suite-genericspoapheaderprocessor">
    <wsdl:operation name="TwoWayOperation">
      <wsdl:input message="tns:TwoWayOperationRequest"/>
      <wsdl:output message="tns:TwoWayOperationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OneWayOperation">
    	<wsdl:input message="tns:OneWayOperationRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="suite-genericspoapheaderprocessorSOAP"
  	type="tns:suite-genericspoapheaderprocessor">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="TwoWayOperation">
  		<soap:operation
  			soapAction="http://test.bpelunit.net/suite-genericspoapheaderprocessor/TwoWayOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="OneWayOperation">
  		<soap:operation
  			soapAction="http://test.bpelunit.net/suite-genericspoapheaderprocessor/OneWayOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="suite-genericspoapheaderprocessor">
    <wsdl:port binding="tns:suite-genericspoapheaderprocessorSOAP" name="suite-genericspoapheaderprocessorSOAP">
      <soap:address location="http://localhost:7777/ws/Track2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
