net.bpelunit.framework/src/test/resources/net/bpelunit/framework/model/test/activity/simple.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.bpelunit.net/simple/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="simple"
	targetNamespace="http://www.bpelunit.net/simple/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.bpelunit.net/simple/">
			<xsd:element name="simple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simpleResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="simpleRequest">
		<wsdl:part element="tns:simple" name="parameters" />
	</wsdl:message>
	<wsdl:message name="simpleResponse">
		<wsdl:part element="tns:simpleResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="SimplePortType">
		<wsdl:operation name="simple">
			<wsdl:input message="tns:simpleRequest" />
			<wsdl:output message="tns:simpleResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="simpleSOAP" type="tns:SimplePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="simple">
			<soap:operation soapAction="http://www.bpelunit.net/simple/simple" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleService">
		<wsdl:port binding="tns:simpleSOAP" name="simpleSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
